.pin {
  position: absolute;
  object-position: center;
}

.p1 {
  width: 200px;
  height: 700px;
  top: -20px;
  left: -175px;
  object-fit: cover;
}

.p2 {
  width: 200px;
  height: 250px;
  top: 440px;
  left: 40px;
  object-fit: cover;
}

.p3 {
  width: 200px;
  height: 750px;
  top: -70px;
  right: -230px;
  object-fit: cover;
}

.p4 {
  width: 200px;
  height: 200px;
  top: 650px;
  right: -175px;
  object-fit: cover;
}

.p5 {
  width: 500px;
  height: 750px;
  top: -50px;
  right: -230px;
  object-fit: cover;
  object-position: 20px;
}

.p6 {
  width: 280px;
  height: 250px;
  top: -200px;
  right: -100px;
  object-fit: cover;
}

.p7 {
  width: 180px;
  height: 180px;
  bottom: -100px;
  right: -60px;
  object-fit: cover;
}

.p8 {
  width: 250px;
  height: 250px;
  bottom: 10px;
  right: 0px;
  object-fit: cover;
}

@media (max-width: 1735px) {
  .p1,
  .p3,
  .p4,
  .p5,
  .p6 {
    display: none;
  }
}

@media (max-width: 1375px) {
  .p8 {
    display: none;
  }
  .p7 {
    right: 0;
  }
}

@media (max-width: 600px) {
  .p2 {
    display: none;
  }
}
