.question {
  position: relative;
  margin: 0;
  transition: 0.5s;
  overflow: hidden;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 24px;
  height: 70px;
  width: 100%;
  text-align: left;
  padding: 0;
  color: #000;
}

.text {
  margin: 0;
}

.arrow {
  transition: 0.5s;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: -1;
}

.arrowOpen {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .button {
    font-size: 16px;
    font-weight: 600;
    color: #424530;
  }
}
