.half {
  position: relative;
  padding: 30px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  margin: 40px 0 10px;
}

.bold {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #424530;
  font-weight: 900;
}

.text {
  margin: 0;
  text-align: left;
}

.link {
  transition: 0.3s;
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #424530;
  font-weight: 900;
  text-decoration: underline;
}

.link:hover {
  color: #424530cc;
}

.info {
  position: relative;
  margin: 20px 0;
}

.infoText {
  line-height: 20px;
  margin-left: 45px;
}

.infoIcon {
  position: absolute;
}

.space {
  height: 40px;
}

.hr {
  height: 0px;
  border: none;
  border-top: 1px solid #424530;
}

.hr:nth-of-type(6n) {
  border-top: 0px solid #424530;
}

@media (max-width: 1375px) {
  .article {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 30px !important;
    width: auto;
    margin-bottom: 20px !important;
    line-height: 30px !important;
  }
  .space {
    height: 20px;
  }
  .bold,
  .link {
    font-size: 16px;
  }
}
