body {
  background-color: #f4eee4;
  font-family: "Noto Serif HK", serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
  margin: 50px auto 0;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}

h3 {
  margin: 0 0 50px;
  color: #424530;
  font-size: 96px;
  font-weight: 400;
  line-height: 80px;
}

.slider {
  width: 900px;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 100px 700px 100px;
}

.slider button {
  background: none;
  border: none;
  cursor: pointer;
}

.slider-inner {
  position: relative;
  height: 700px;
  /* background-color: #424530; */
  overflow: hidden;
}

.slider-line {
  transition: 0.5s;
  left: 0px;
  display: flex;
  position: absolute;
  height: 700px;
}

.slide {
  height: 700px;
  width: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sl-1 {
  background-image: url(img/download_image_1714643894809.png);
}
.sl-2 {
  background-image: url(img/download_image_1714643122790.png);
}

.sl-3 {
  background-image: url(img/photo_2024-04-03_21-25-34.jpg);
}
.sl-4 {
  background-image: url(img/download_image_1714644000945.png);
}

.sl-5 {
  background-image: url(img/photo_2024-04-03_21-25-41.jpg);
}

.article-img-1 {
  margin-top: 105px;
  display: block;
  width: 460px;
  height: 255px;
  background-image: url(img/image7.png);
}

.article-img-2 {
  margin-top: 25px;
  display: block;
  width: 460px;
  height: 255px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/download_image_1716229080799.png);
}
