.slider {
  width: 100%;
  max-width: 850px;
  margin: auto;
}

.slide {
  position: relative;
  max-width: 80%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}

.customDots li button {
  background-color: #424530 !important; /* Индикаторы */
}

.customDots li.slick-active button {
  background-color: #424530 !important; /* Активный индикатор */
}
